#element::-webkit-scrollbar {
    display: none;
}
.navbar{
    margin-bottom: 0px;
    margin-top: 15px;
}
.body {
    margin: 0px;
    padding: 0px;
}

#hello_alert {
    margin-top: 15px;
}

.pdf_object {
    height: 90vh;
    width: 100%;
}

.pdf_loader_object {
    height: 75vh;
    width: 100%;
}

